.health{
  padding-top: 240px;
  padding-bottom: 239px;
  background-image: url("../images/health-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.health__box{
  margin-left: 535px;
}

.health__title{
  color: #fff;
}

.health__text{
  color: #fff;
  border-left: 3px solid #fff;
}