.hero{
  padding-top: 50px;
  padding-bottom: 185px;
  background-image: url("../images/intro-bg.jpg");
  background-repeat: no-repeat;
  background-position: calc(50% + 550px) calc(0%);
  border-bottom: solid #DDDDDD;
}

.hero__box{
  width: 490px;
}

.hero__title{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 120%;
}

.hero__text{
  font-family: Roboto;
  font-size: 16px;
  line-height: 150%;
  color: #777777;
  margin-bottom: 30px;
  border-left: 3px solid #888888;
  padding-left: 40px;

}

.hero__link{
  display: inline-block;
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #EA625C;
  padding: 12px 39px;
  text-decoration: none;

  &:hover{
    background-color: #D34C45;
  }
  }


  @media screen and (max-width: 520px) {

    .hero{
      padding: 0 0 70px;
      background-image: url("../images/hero-bg-mb.png");
      background-position: calc(50% + 90px) calc(0%);
      border: none;
    }

    .hero__box{
      width: 100%;
      padding-top: 401px;
    }

    .hero__title{
      font-weight: 700;
      font-size: 46px;
      line-height: 120%;
      text-align: center;
      margin: 0;
      margin-bottom: 30px;
    }

    .hero__text{
      font-size: 14px;
      line-height: 150%;
    }

    .hero__link{
      padding: 10px 25px;
    }
  }
  