.nike{
  margin-bottom: 70px;
}

.nike__info{
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.nike__text{
  margin-bottom: 30px;
}

.nike__img{
  width: 400px;
  height: 600px;
}